/* all css comment start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;

}

a ,a:hover{
    text-decoration: none;
} 

h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8;
}

.buttom a {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all linear 0.4s;
}
.buttom a:hover {
  background: none;
  color: #ffffff;
}



/* all css comment start  */



/* =========header menu section start======  */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
}
.nav-item a {
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;
    font-family: "Oswald", sans-serif;
}
.nav-item a:hover{
    color: #F83A59;
}
.navbar-right a {
    color: #dddddd;
    font-size: 16px;
    font-weight: 400;
    padding: 0 5px;
}

/* =========header menu section end======  */




/* =========benner  section start======  */
#bennerpart{
    background: url(../image/banner\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.benner h3{
    font-size: 27px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding: 330px 0 40px;
}
.benner h1{
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding-bottom: 20px;
    position: relative;  
}
.benner h1::after{
    position: absolute;
    width: 90px;
    height: 4px;
    left: 440px;
    bottom: 15px;
    content: "";
    background-color: #ffffff;
}
.benner p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#ffffff;
    padding-bottom: 50px;
}

.bennericon{
    padding: 315px 0 100px;
}
.bennericon a{
    font-size: 20px;
    padding: 10px;
    color: #121212;
    background: #dddddd;
    text-align: center;
    margin: 0 5px;
    border-radius: 25px;
    border: none;
    transition: all linear .4s;
}
.bennericon a:hover {
    background: none;
    color: #dddddd;
    border: 1px solid #dddddd;
}

/* =========benner  section end======  */




/* =========about  section start======  */
#aboutpart{
    background: #121212;
}
.aboutheadline h2{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    padding: 35px 50px 60px 0;
    line-height: 50px;
    position: relative;
    font-family: "Oswald", sans-serif;
}

.aboutheadline h2::after{
    position: absolute;
    width: 90px;
    height: 4px;
    left: 190px;
    bottom: 60px;
    content: "";
    background-color: #F83A59;
}
.aboutimg img{
    width: 100%;
}
.aboutpoint {
    padding-top: 190px;
}
.aboutpoint h3{
    font-size: 27px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding-bottom: 15px;
}

.aboutpoint h5{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 8px;
}
.aboutpoint h5 i{
    color: #F83A59;
    font-size: 16px;
    padding-right: 5px;
}
.aboutpoint p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 20px;
    line-height: 25px;
    text-align: justify;
}
.about-counter{
    padding: 60px 0 80px ;
}

.counteritem{
    text-align: center;
    background: #212121;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 26px 0;
}
.counteritem h4{
    font-size: 60px;
    color: #ffffff;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.counteritem h4 i{
    font-size: 14px;
    color: #F83A59;
}


.counteritem h5{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-transform: capitalize;
    
    
}

/* =========about  section end======  */



/* =========Populer section start======  */
#popularpart{
    background: #191919;
}
.popular{
    padding-bottom: 90px;
}
.popular-left img{
    padding-top: 215px;
    width: 100%;
}
.populer-right{
    position: relative;
}
.populer-right h2{
    font-size: 38px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    position: relative;
    text-align: right;
    padding: 115px 0 130px;
    line-height: 50px;
}
.populer-right h2::after{
    position: absolute;
    width: 90px;
    height: 4px;
    right: 190px;
    bottom: 140px;
    content: "";
    background-color: #F83A59;
}
.populer-right img{
    width: 100%;
}
.slide-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
}
.slide-icon a{
    font-size: 20px;
    font-weight: 400;
    color: #121212;
    background: #ffffff;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 5px 7px;
    border-radius: 25px;
    transition: all linear .4s;
    
}
.slide-icon a:hover{
    color: #ffffff;
    background: none;
}
/* =========Populer section end======  */





/* =========Tournament-part section start======  */
 #tournament-part{
    background: #121212;
 }
.tournamentimg{
    padding-bottom: 65px;
}

.tournament img{
    width: 100%;
    height: 240px;
    filter: grayscale(100%);
    transition: all linear .4s;
}
.tournament img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
.team-part{
    text-align: center;
    padding-bottom: 30px;
}
.team-part h3{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding-bottom: 50px;
}
.team-item{
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.team-item img{
    width: 100%;
}
.team-item h4{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
}

/* =========Tournament-part section end======  */




/* =========Sale-part section start======  */

#Sale-part{
    background: #191919;
}
.saleheader h2{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    padding: 35px 50px 60px 0;
    line-height: 50px;
    position: relative;
    font-family: "Oswald", sans-serif;
}

.saleheader h2::after{
    position: absolute;
    width: 90px;
    height: 4px;
    left: 190px;
    bottom: 60px;
    content: "";
    background-color: #F83A59;
}
.sale-part{
    padding-bottom: 60px;
}
.sale-item{
    transition: all linear .4s;
}
.sale-item:hover{
    transform: scale(1.1);
}
.sale-item img{
    width: 100%;
    transition: all linear .3s;
}
.sale-item img:hover{
    filter: grayscale(100%);
}

.sale-item h3{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 20px 0;
    font-family: "Barlow", sans-serif;
}
.sale-item p{
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    padding-bottom: 20px;
    font-family: "Barlow", sans-serif;
}
.game-price{
    display: flex;
    text-align: left;
    align-items: center;
}
.game-price h4{
    background: #F83A59;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    color: #ffffff;
    font-family: "Barlow", sans-serif;
}
.game-price h6{
    font-size: 14px;
    color: #666666;
    font-family: "Barlow", sans-serif;
    text-decoration: underline;
    padding: 0 10px;
}
.game-price h5{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Barlow", sans-serif;
}

/* catalog-part start  */
.catalog-part{
    background: #212121;
    padding-bottom: 45px;
    margin-bottom: 60px;
}
.catalog h3{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
}
.catalog-left h4{
    font-size: 16px;
    font-weight: 500;
    color: #FF4655;
    padding: 45px 0 20px;
    font-family: "Oswald", sans-serif;
}
.catalog-left h2{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding-bottom: 20px;
    line-height: 50px;
}
.catalog-left p{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    line-height: 20px;
}

.catalog-right{
    padding: 42px 110px 0;
}
.catalog-right img{
    width: 100%;
    
}
/* catalog-part end  */

/* =========Sale-part section end======  */





/* =========Store section start======  */
#Storepart{
    background: #121212;
}


.Storeheadline h2{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    padding: 90px 0px 40px ;
    line-height: 50px;
    position: relative;
    font-family: "Oswald", sans-serif;
}

.Storeheadline h2::after{
    position: absolute;
    width: 90px;
    height: 4px;
    left: 190px;
    bottom: 50px;
    content: "";
    background-color: #F83A59;
}
.all-products{
    padding-bottom: 80px;
}


.products{
    text-align: center;
    background: #212121;
    padding: 24px 36px;
    transition: all linear .4s;
}
.products:hover{
    transform: scale(1.1);
}

.products h3{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
}
.products img{
    width: 100%;
}
.products h4{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding: 45px 0 10px;
}
.products a{
    font-size: 16px;
    font-weight: 400;
    color: #F83A59;
    font-family: "Oswald", sans-serif;
    padding: 5px 8px;
    transition: all linear .4s;
    border-radius: 10px;

}
.products a:hover{
    background: #F83A59;
    color: #ffffff;
}

/* =========Store section end======  */




/* =========Team  section start======  */
#teampart{
  background: #191919;
}
.team {
    justify-content: right;
}
.teamhead{
    text-align: right;
}

.teamhead h2{
    font-size: 38px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    position: relative;
    text-align: right;
    padding: 115px 0 130px;
    line-height: 50px;
}
.teamhead h2::after{
    position: absolute;
    width: 90px;
    height: 4px;
    right: 180px;
    bottom: 140px;
    content: "";
    background-color: #F83A59;
}
.team-member{
    padding-bottom: 50px;
}

.team-card{
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  filter: grayscale(100%);
  transition: all linear .4s;
}
.team-card:hover{
    filter: grayscale(0%);
}

.team-card img{
  width: 100%;
  display: block;
  height: auto;
  
}

.team-overlay {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: all linear .4s;
}
.team-card:hover .team-overlay {
  top: 30%;
}

.team-overlay h4{
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-align: left;
  padding: 40px 0 10px 20px;
}

.team-overlay p{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 20px;
  width: 70%;
  text-align: left;
  padding: 10px 0 10px 20px;

}

.teambt-icon{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.team-bt a{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #fd3a5c;
  background: #fd3a5c;
  transition: all linear .4s;

}
.team-bt a:hover{
  background: none;
}

.team-icon a {
  background-color: #ffffff;
  padding: 8px 10px ;
  border-radius: 20px;
  margin: 0 5px;
  transition: all linear 0.4s;
  display: inline-block;
}

.team-icon a:hover {
  background: #fd3a5c ;
}
.team-icon a i {
  font-size: 15px;
  color: #000000;
}

/* =========Team section end======  */




/* =========FAQ section start======  */
#faqpart{
    background: #121212;
}

.faqheadline h2{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    padding: 35px 50px 60px 0;
    line-height: 50px;
    position: relative;
    font-family: "Oswald", sans-serif;
}

.faqheadline h2::after{
    position: absolute;
    width: 90px;
    height: 4px;
    left: 335px;
    bottom: 70px;
    content: "";
    background-color: #F83A59;
}
.faq-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.faq-item { 
    width: 50%;
    padding: 20px;  
    display: flex;
    justify-content: center;
    gap: 15px;
}
 
.faq-left{
    border-right: 1px solid rgba(255, 255, 255, 0.1);  
}
.faq-top{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.faq-buttom{
    border-bottom: none;
}

.faq-right{
    border-left:1px solid rgba(255, 255, 255, 0.1) ;
}

.faq-number {
    width: 30px;
    height: 30px;
    background-color: #F83A59; 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
}


.faq-question {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}


.faq-answer {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #b0b0b0; 
}

/* =========FAQ section end======  */




/* =========footer part section start======  */
#footerpart{
    background: #191919;
}
.footer{
    position: relative;
}

.footer-top{
    position: absolute;
    padding: 35px 30px;
    background: #FF4655;
    border-radius: 5px;
    z-index: 1;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-top h3{
    font-size: 30px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 40px;
}
.search-input{
    border-radius: 15px;
    border: none;
    padding: 5px;
    font-family: "Oswald", sans-serif;
    width: 50%;
}

.footer-buttom{
    border-radius: 15px;
    border: none;
    padding: 5px;
    font-family: "Oswald", sans-serif;
    background: #191919;
    color: #ffffff;
    margin-left: -55px;
    transition: all linear .4s;
}
.footer-buttom:hover{
    background: #F83A59;
    transform: scale(1.1);
}
.footer-content{
    padding: 130px 0 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-content p{
    font-size: 16px;
    font-weight: 300;
    color: #666666;
    font-family: "Oswald", sans-serif;
    padding: 20px 50px 50px 0;
    line-height: 20px;
}

.footericon a{
    font-size: 20px;
    padding: 10px;
    color: #121212;
    background: #dddddd;
    text-align: center;
    margin: 0 5px;
    border-radius: 25px;
    border: none;
    transition: all linear .4s;
}
.footericon a:hover {
    background: none;
    color: #dddddd;
    border: 1px solid #dddddd;
}
.footer-link-part{
    display: flex;
    justify-content: space-around;
}

.footer-links h4{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Barlow", sans-serif;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.footer-links h5{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    transition: all linear .4s;
}
.footer-links h5:hover{
    color: #F83A59;
}

.footer-img h4{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Barlow", sans-serif;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.footer-img img{
    width: 100%;
}
.Copyright{
    text-align: center;
}
.Copyright h3{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    padding: 50px 0 25px; 
}
.Copyright h3 span{
    color: #F83A59;
}



/* =========footer part section end======  */



/* =========header menu section start======  */
/* =========header menu section end======  */




/* =========header menu section start======  */
/* =========header menu section end======  */